/* max 767px */
@media (max-width: 767px) {
  body {
    background-image: none;
  }
}
/* Tablets (768px and up) */
@media (min-width: 768px) {
  body {
    padding: 20px 30px;
    background-image: url("../assets/images/bg-shape.png");
    background-position: center top -20px;
  }

  nav {
    height: 4.25rem;
  }
  /* nav menu */
  .nav-menu {
    display: block;
  }
  .nav-menu .nav-links {
    gap: 2.5rem;
    padding-block: 1.75rem;
    padding-inline: 2.625rem;
    background-color: white;
    border-radius: 5rem;
  }
  .nav-menu .nav-links a {
    color: var(--secondary-color);
    font-weight: 600;
    position: relative;
    padding-left: 10px;
  }
  .nav-menu .nav-links a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    background-color: var(--accent-color);
    border-radius: 50%;
    transition: width 0.1s, height 0.1s;
  }
  .nav-menu .nav-links a:hover::before {
    width: 5px;
    height: 5px;
  }
  .nav-menu .nav-links a:hover {
    color: var(--accent-color);
  }
  .btn-1 {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    padding: 1.5rem 1.75rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 50px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border: 2px solid #0c0f10;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .btn-1::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
  }
  .btn-1:hover {
    box-shadow: 0px 1px 2px 0px rgba(0, 46, 52, 0.5),
      0px 1px 1px 3px #033e43 inset;
  }

  #hamburger {
    display: none;
  }
  #nav-dialog {
    display: none;
  }

  /* hero section */
  .hero-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 16/9;
  }
}

/* Desktops (1024px and up) */
@media (min-width: 1024px) {
}
