/* max 767px */
@media (max-width: 767px) {
  body {
    background-image: none;
  }
}
/* Tablets (768px and up) */
@media (min-width: 768px) {
  body {
    background-image: url("../assets/images/bg-shape.png");
    background-position: center top -20px;
  }

  nav {
    height: 4.25rem;
  }
  /* nav menu */
  .nav-menu {
    display: block;
  }
  .nav-menu .nav-links {
    gap: 2.5rem;
    padding-block: 1.75rem;
    padding-inline: 2.625rem;
    background-color: white;
    border-radius: 5rem;
  }
  .nav-menu .nav-links a {
    color: var(--secondary-color);
    font-weight: 600;
    position: relative;
    padding-left: 10px;
  }
  .nav-menu .nav-links a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    background-color: var(--accent-color);
    border-radius: 50%;
    transition: width 0.1s, height 0.1s;
  }
  .nav-menu .nav-links a:hover::before {
    width: 5px;
    height: 5px;
  }
  .nav-menu .nav-links a:hover {
    color: var(--accent-color);
  }
  .btn-1 {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    padding: 1.5rem 1.75rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 50px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border: 2px solid #0c0f10;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .btn-1::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
  }
  .btn-1:hover {
    box-shadow: 0px 1px 2px 0px rgba(0, 46, 52, 0.5),
      0px 1px 1px 3px #033e43 inset;
  }

  #hamburger {
    display: none;
  }
  #nav-dialog {
    display: none;
  }

  /* hero section */
  .hero-section .heading h1,
  .second-heading {
    font-size: 7.5rem;
    line-height: 6.5rem;
    letter-spacing: -0.225rem;
  }
  .second-heading img {
    height: auto;
  }
  .second-heading {
    gap: 1rem;
  }
  .agency {
    font-size: 7.5rem;
  }
  .hero-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 16/9;
  }

  /* contact section */
  .contact-service-section {
    flex-direction: row;
    gap: 0.5rem;
  }
  .contact-section {
    width: 28rem;
    height: 18.4375rem;
    padding: 2.5rem;
  }
  .slogan {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .slogan h3 {
    width: 65%;
  }

  /* service section */
  .service-section {
    flex-direction: row;
    width: 59rem;
    height: 18.4375rem;
    display: flex;
    justify-content: space-between;
    padding: 40px 50px 45px 40px;
    background: white;
    border-radius: 2.5rem;
  }
  /* Left Section */
  .left-section {
    align-items: start;
  }
  .tags {
    width: 20.375rem;
  }

  /* Right Section */
  .right-section {
    margin-top: 1rem;
  }

  /* Logo Slider */
  .logo-container {
    padding: 6.25rem 0;
  }
  .logo-container::before,
  .logo-container::after {
    width: 200px;
  }

  /* Recent Works Section */
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2.5rem;
  }
  .section-header .section-title {
    text-align: left;
    font-size: 4.375rem;
    line-height: 3.5rem;
    letter-spacing: -0.13125rem;
    margin: 0;
  }

  #desktop-nav-button {
    display: flex;
  }
  #mobile-nav-button {
    display: none;
  }
}
